.bi-folder-fill, .bi-folder, .bi-file-earmark {
  margin-right: 0.5em;
}

.folder-tree {
  font-size: 0.95rem;
}

.folder-item {
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.folder-item:hover {
  background-color: rgba(90, 120, 154, 0.2); /* Couleur superhero pour hover */
}

.root-folder {
  font-weight: bold;
  margin-bottom: 5px;
}

.expand-icon {
  width: 25px;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1;
  color: #df691a; /* Couleur orange superhero pour les dossiers */
}

.folder-tree-item {
  position: relative;
}

.root-children {
  padding-left: 20px;
  margin-top: 5px;
}

.folder-children {
  padding-left: 20px; 
}

.active-folder {
  background-color: rgba(68, 157, 209, 0.2); /* Bleu superhero */
  border-left: 3px solid #5cb85c; /* Vert superhero */
  font-weight: bold;
}

